.footer
  .container
    .content.text-center
      div 大庆师范学院版权所有
      div 信息管理：党委宣传部
      div 地址：黑龙江省大庆市让胡路区西宾西路
      div by©guoooofu
      div Email:m13224597763@163.com
      div 项目地址:
        a(href="https://github.com/guoooofu/books_management_system") Github
      
    
