.container
  .newBooks.show.clearfix
    p 新书上架
      button.pull-right.btn.pmd-btn-outline.pmd-ripple-effect.btn-default 更多>> 
    hr  
    .row
      .col-md-3     
        .pwd-card.pmd-card-media-inline.pmd-z-depth-2.text-center
          .pmd-card-media
            a(href="#")
              img(style="width:152;height:152" src="http://propeller.in/assets/images/profile-pic.png")
          .pmd-card-title
            h2.pmd-card-title-text 图书名
            span.pmd-card-subtitle-text 作者
          .pmd-card-actions  
            button.btn.pmd-btn-outline.pmd-ripple-effect.btn-primary(type="button") 借阅
            button.btn.pmd-btn-raised.pmd-ripple-effect.btn-primary(type="button") 详情         
  .lendRanking.show.clearfix 
    p 图书点击量排行榜  
      button.pull-right.btn.pmd-btn-outline.pmd-ripple-effect.btn-default 更多>>     
    hr    
    .row
      .col-md-3     
        .pwd-card.pmd-card-media-inline.pmd-z-depth-2.text-center
          .pmd-card-media
            a(href="#")
              img(style="width:152;height:152" src="http://propeller.in/assets/images/profile-pic.png")
          .pmd-card-title
            h2.pmd-card-title-text 图书名
            span.pmd-card-subtitle-text 作者
          .pmd-card-actions  
            button.btn.pmd-btn-outline.pmd-ripple-effect.btn-primary(type="button") 借阅
            button.btn.pmd-btn-raised.pmd-ripple-effect.btn-primary(type="button") 详情            
          
