<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染 v-for_组件</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="todo-list-example">
    <!-- 子自定义组件中，可以像任何普通元素一样用 v-for。-->
    <!-- 然而他不能自动传递数据到组件里，因为组件有自己独立的作用域。-->
    <!-- 为了传递迭代数据到组件里，我们要用 props。-->
    <!-- 不自动注入 item 到组件里的原因是，因为这使得组件会紧密耦合到 v-for 如何运作。-->
    <!-- 在一些情况下，明确数据的来源可以使组件可重用。-->
    <my-component
            v-for="(item, index) in items"
            v-bind:item="item"
            v-bind:index="index">
    </my-component>
    <!-- 下面是一个简单的todo list完整的例子：-->
    <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
    >
    <ul>
        <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:title="todo"
                v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</div>
<script>
    Vue.component('todo-item', {
        template: '\<li>\{{ title }}\<button v-on:click="$emit(\'remove\')">X</button>\</li>\
  ',
        props: ['title']
    });
    new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                'Do the dishes',
                'Take out the trash',
                'Mow the lawn'
            ]
        },
        methods: {
            addNewTodo: function () {
                this.todos.push(this.newTodoText)
                this.newTodoText = ''
            }
        }
    })
</script>
</body>
</html>