<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染 显示过滤或排序结果</title>
    <script src="../vue.js"></script>
</head>
<body>
<!-- 有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。
在这种情况下，可以创建返回过滤或排序数组的计算属性。-->
<div id="demo1">
    <li v-for="n in evenNumbers">{{ n }}</li>
</div>
<!-- 或者，你也可以在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 使用 method 方法：-->
<div id="demo2">
    <li v-for="n in even(numbers)">{{ n }}</li>
</div>
<script>
    var vm1 = new Vue({
        el: "#demo1",
        data: {
            numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0;
                })
            }
        }
    });
    var vm2=new Vue({
        el:"#demo2",
        data: {
            numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        },
        methods:{
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })
</script>
</body>
</html>