body{
  /*padding-top: 64px;*/
}
.contentContainer{
    margin: 0;
}
.pmd-table.table>thead>tr>th,
.pmd-table.table>tbody>tr>td{
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem 0;
}

.modal-dialog{
  background: #fff;
}
