<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>is</title>
    <script src="../../vue.js"></script>
</head>
<body>
<pre>
    自定义元素，使用is的特性(form元素使用is示例)
</pre>
<div id="app1">
    <hr>
    <table border="1">
        <tr is="my-component1"></tr>
        <tr is="my-component2"></tr>
    </table>
    <hr>
    <input is="input1" v-model="input1" type="text">{{input1}}
    <hr>
    <textarea is="textarea1" v-model="textarea1"></textarea>{{textarea1}}
    <hr>
    <input is="checkbox_bike" v-model="checkbox_bike" type="text" >{{checkbox_bike}}
    <input is="checkbox_car" v-model="checkbox_car" type="text" >{{checkbox_car}}
    <hr>
    男性：<input is="radio_sex1" v-model="radio1" type="radio">
    <br>
    女性：<input is="radio_sex2" v-model="radio1" type="radio">
    {{radio1}}
    <hr>
    <select is="select1" v-model="select1"></select>{{select1}}
</div>
<script>
    var select1=Vue.extend({
        template:'<select><option>A</option><option>B</option><option>C</option></select>'
    });
    var radio_sex1=Vue.extend({
        template:'<input type="radio" checked name="sex" value="male">'
    });
    var radio_sex2=Vue.extend({
        template:'<input type="radio" name="sex" value="female">'
    });
    var checkbox_bike=Vue.extend({
        template:'<input type="checkbox" name="bike">'
    });
    var checkbox_car=Vue.extend({
        template:'<input type="checkbox" name="car">'
    });
    var textarea1=Vue.extend({
        template:'<textarea rows="10" cols="30">wgf正在使用 textarea</textarea>'
    });
    var input1=Vue.extend({
        template:'<input type="text" value="wgf正在使用input" id="input1" name="input1">'
    });
    var tr1=Vue.extend({
        template:'<tr><td>项目1</td><td>{{a}}</td></tr>',
        data:function () {
            return {
                a:'学习vue,感觉挺有趣的'
            }
        }
    });
    var tr2=Vue.extend({
        template:'<tr><td>项目2</td><td>{{a}}</td></tr>',
        data:function () {
            return {
                a:'每个示例都很有价值'
            }
        }
    });
    var vm=new Vue({
        el:"#app1",
         components:{
            'my-component1':tr1,
            'my-component2':tr2,
            'input1':input1,
            'textarea1':textarea1,
            'checkbox_bike':checkbox_bike,
            'checkbox_car':checkbox_car,
            'radio_sex1':radio_sex1,
            'radio_sex2':radio_sex2,
            'select1':select1
        },
        data:{
            'input1':'',
            'textarea1':'',
            'checkbox_bike':'',
            'checkbox_car':'',
            'radio1':'',
            'select1':''
        }
    })
</script>
</body>
</html>