<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <script src="../../vue.js"></script>
  <title>component</title>
</head>
<body>
  <div id="app">
    <pre>
      1.在Vue.js中，组件有个观念。即用很多tag来完成业务目的。
      2.tag,可以在v层重复使用很多次。
      3.Vue.component，是将构造器注册在html的tag中，以便vue.js渲染。
      4.Vue.extend，是构造器，没有实例。可以在复制过程中，更改或加入内容到构造器中。
    </pre>
    <my-component></my-component>
    <my-component2></my-component2>
    <my-component></my-component>
  </div>
  <script>
  var MyComponent=Vue.extend({
    template:'<div><h1>{{msg1}}</h1></div>',
    data:function(){
      return{
        msg1:"wgf learn vue.js"
      }
    }
  });
  //全局注册组件，tag为my-component
  Vue.component('my-component',MyComponent);

  var MyComponent2=Vue.extend({
    template:'<div><h1>{{msg1}}</h1></div>',
    data:function(){
      return{
        msg1:"组件2号"
      }
    }
  });
  Vue.component("my-component2",MyComponent2);
  var vm=new Vue({
    el:"#app"
  })
  </script>
</body>
</html>