<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>13.use table template</title>
        <script src="../../vue.js"></script>
    </head>
    <body>
      <pre>
        table中使用temlate，规定不能这么用，所以没有正确的渲染
      </pre>
      <div id="app1">
        <table>
          <template v-if="show" v-for="item in items">
            <tr>
              <td>王国富，{{$index}}</td>
            </tr>
          </template>
        </table>
      </div>
      <script>
      //[Vue warn]: Property or method "$index" is not defined on the instance but referenced during render. Make sure to declare reactive data properties in the data option. 
      var vm=new Vue({
        el:"#app1",
        data:function(){
          return{
            show:true,
            items:{
              msg:'A',
              msg:'B',
              msg:'C',
              msg:'D',
            }
          }
        }
      })
      </script>
    </body>
</html>