<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>14.use table tbody</title>
        <script src="../../vue.js"></script>
    </head>
    <body>
    <pre>
      table 使用tbody
    </pre>
    <div id="app1">
      <table>
        <tbody v-for="item in items">
          <tr>
            <td>{{item.msg}}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <ul>
        <li v-for="item in items">{{item.msg}}</li>
      </ul>
      <hr />
      {{$data}}
    </div>
    <script>
    var vm=new Vue({
      el:"#app1",
      data:{
        items:[
          {msg:'foo'},
          {msg:'bar'}
        ]
      }
    });
    </script>
    </body>
</html>