<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件绑定 绑定value-单选按钮、勾选框、选择列表</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- 对于单选按钮，勾选框及选择列表选项， v-model 绑定的 value 通常是静态字符串（对于勾选框是逻辑值）：-->
    <!--但是有时我们想绑定 value到Vue实例的一个动态属性上，可以用 v-bind 实现，并且这个属性的值可以不是字符串。-->

    <!-- 当选中时，`picked` 为字符串 "a" -->
    <input type="radio" v-model="picked" value="a">
    <!-- `toggle` 为 true 或 false -->
    <input type="checkbox" v-model="toggle">
    <!-- 当选中时，`selected` 为字符串 "abc" -->
    <select v-model="selected">
        <option value="abc">ABC</option>
    </select>
</div>
</body>
</html>