extends ./layout

block append headCssFiles
  link(rel="stylesheet" href="/lib/propeller/dist/css/propeller-admin.css")
  link(rel="stylesheet" href="/css/bootsnav.css")
  link(rel="stylesheet" href="/css/index_admin.css")
block header
  include includes/header_admin.pug
block content 
  include includes/sidebar_admin.pug 
